@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap');


.heading-styles p {
    font-family: 'Gorditas', cursive;
     font-size: 80px;
     color: #3B95B0;
     font-weight: 700px;
     line-height: 97px;
}

.heading-styles span {
    font-family: 'Gorditas', cursive;
    font-size: 80px;
    color: #03384D
    ;
    font-weight: 700px;
    line-height: 97px;
    margin-left: -15px;
}